.message {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.message.message__own {
  align-items: flex-end;
}

.message.message__own .message__text {
  background-color: rgb(220, 220, 220);
  color: black;
}

.message__body {
  display: flex;
  width: 50%;
}

.message__img {
  padding-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.message__text {
  background-color: blue;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
}

.message__timestamp {
  font-size: x-small;
}
